<ng-container *ngIf="initialized">
  <div class="header"></div>
</ng-container>
<ng-container *ngIf="!initialized">
  <div class="overskrift">Organisasjoner</div>
</ng-container>

<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
<p>organisations-page works!</p>
